<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Carol (Nichols || Goulding)</string>
	<key>description</key>
	<string>A general-purpose, multi-paradigm, compiled programming language developed by Mozilla Research.</string>
	<key>name</key>
	<string>Rust</string>
	<key>uuid</key>
	<string>06794A1F-20AC-457C-AD92-A4A8EF83EB0E</string>
</dict>
</plist>
